header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
    opacity: 90%;
}

h1 {
    color: rgba(241, 248, 237, 0.639);
    font-size: 4rem;
    position: absolute;
    top: 0px;
    margin: 0;
}

h3 {
    color: rgb(140, 193, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(245, 245, 245, 0.686);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.cart:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.cardModal {
    width: 20rem;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -10rem;
}

.popover {
    padding: 1rem 2rem;
    border-color: rgb(245, 106, 51);
    border-style: solid;
    display: flex;
    flex-direction: column;
}