ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 0;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  width: 23%;
  cursor: pointer;
}

.modalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg.addcart {
  align-self: flex-end;
  background-color: rgba(245, 245, 245, 0.686);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

